<div class="table-responsive">
    <h4 class="text-center">Horario</h4>
    <span class="badge bg-success">Cursos de hoy</span>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Curso</th>
          <th scope="col">Fecha</th>
          <th scope="col">Hora</th>
          <th scope="col">Tutor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of listaCurso; index as i"  [ngClass]="curso.fecha | fechaActual">
          <td>{{ i+1 }}</td>
          <td>{{ curso.nombre }}</td>
          <td>{{ curso.fecha | date:'dd/MM/yyyy' }}</td>
          <td>{{ curso.fecha +" "+ curso.hora | date: 'hh:mm a' }}</td>
          <td>{{ curso.tutor }}</td>
        </tr>
      </tbody>
    </table>
  </div>